<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Img</title>
	<link rel="stylesheet" href="../../public/img.css">

</head>
<body>
	<div class="container">
		<img src="../../img/a.jpg" alt="" class="imgOne">
		<div class="thumbnail">
			<img src="../../img/a.jpg" alt="" class="thub">
			<img src="../../img/b.jpg" alt="" class="thub">
			<img src="../../img/c.jpg" alt="" class="thub">
			<img src="../../img/d.jpg" alt="" class="thub">
		</div>	
	</div>

	<script src="../../public/img.js"></script>
</body>
</html>